# ==========================================
# IMPEDIR ACCESO DIRECTO A LA CARPETA
# PERMITIR ACCESO A LOS ARCHIVOS INTERNOS
# ==========================================

# 1. Evita el listado de directorios si no hay index.php o index.html
Options -Indexes

# 2. (Opcional) Página personalizada al intentar acceder a la carpeta directamente
ErrorDocument 403 Acceso_Denegado

