:root {
  --nav-bar: #2b1300;
}

.bg-nav-bar {
  background-color: var(--nav-bar);
}

.bg-card-reservas{
  color: #fff !important;
  background-color: #d56000 !important;
}

.bg-head-bar{
  color: #fff !important;
  background-color: #562700  !important;
}


.bg-card-general{
  color: #fff !important;
  background-color: #9f4700 !important;
}

.bg-card-prestamos{
  background-color: #00cab9 !important;
}

.bg-login {
  background: url("../../dist/assets/img/login_biblioteca.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-sombra{
    background-color: rgba(0, 0, 0, 0.6);
.bg-registrar{
background: url("../../dist/assets/img/registro_biblioteca.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-sombra {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

}
}