:root{
    --azul-nav-bar: #000d2b;
}

.bg-nav-bar{
    background-color:var(--azul-nav-bar);
}

.bg-login{
    background: url("../../dist/assets/img/login_biblioteca.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-sombra{
    background-color: rgba(0, 0, 0, 0.6);
}
