
/* ESTILOS DEL LOGIN */
.btn-acceder {
    background-color: #d56000 !important;
    border: none !important;
    color: #fff !important;
}

.btn-acceder:hover {
    background-color: #9f4700 !important;
}

.btn-registrar {
    background-color: #562700 !important;
    border: none !important;
    color: #fff !important;
}

.btn-registrar:hover {
    background-color: #6f3200 !important;
}

.btn-acceder i,
.btn-registrar i {
    margin-right: 6px;
}

.bg-login {
  background: url("../../dist/assets/img/login_biblioteca.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-registrar {
  background: url("../../dist/assets/img/registro_biblioteca.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-sombra {
  background-color: rgba(0, 0, 0, 0.7);
 
}



/* ESTILOS DEL DASHBOARD Y GENERAL */
.bg-nav-bar {
  background-color: #2b1300;
}

.bg-card-reservas {
  color: #fff !important;
  background-color: #d56000 !important;
}

.bg-head-bar {
  color: #fff !important;
  background-color: #562700 !important;
}

.bg-card-general {
  color: #fff !important;
  background-color: #9f4700 !important;
}

.bg-card-prestamos {
  background-color: #00cab9 !important;
}

